{% extends 'base.html.twig' %}

{% block body %}
{% if session().hasFlash('success')%}
<div class="alert alert-success" role="alert">

<ul>
{% for massege in session().getFlash('success')%}
<li>{{ massege }}</li>
{% endfor %}
</ul>
{%endif%}
  {% if record is not empty %}
    <h2>{{ record.name }}</h2>
    <div>{{ record.hobby }}</div>
    <button><a href="/student/{{ record.id }}/edit">Edit</a></button>
    <button><a href="/student/{{ record.id }}/delete">Delete</a></button>
    <div>
      <a href="/student/all">Back To All Student</a>
    </div>
  {% endif %}
{% endblock %}
